.container {
  padding-left: 20px;
  padding-right: 20px;
}
.nav {
    background-color: #c4ecec; 
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
  .section-container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 70vh;
  }
  .section-container-left {
    width: 30%;
    float: left;
    background-color: aliceblue;
    height: 70vh;
  }
  .section-container-right {
    width: 69%;
    float: right;
    background-color:  aliceblue;
    height: 70vh;
  }

  table {
    /* align-items: start; */
    width: 80%;
    border-width: 0px;
    border-collapse: collapse;
   
  }
  tr td {
    align-items: start;
    /* text-align: center; */
    border-width: 0px;
    border-collapse: collapse;
   
  }
  thead {
    /* text-align: center; */
    font-weight: bolder;
    /* background-color: gainsboro; */
    border-collapse: collapse;
  }

  input[type=text], input[type=password] {
    width: 200px;
    padding: 5px 5px;
    margin: 10px;
    box-sizing: border-box;
  }
input[type=submit]{
    background-color: #2596be;
    color: white;
    padding: 5px;
    border: #2596be;
}

.header-data {
  font-size: 30px; 
  font-weight: bolder;
}

.section-column-3 {
  width: 100%;
}
.section-column-1 {
  width: 30%;
}
.section-column-2 {
  width: 30%;
}
.section-column-3 {
  width: 30%;
}

  .footer {
    text-align: center;
    background-color: gainsboro;
    padding: 3px;
  }
